# Gather Hourly Traffic Data <br>
*From statens vegvesen API: https://www.vegvesen.no/trafikkdata/api*

Import necessary packages:

In [7]:
import os
import json
import requests
import time
import random
from tqdm import tqdm  
import pandas as pd
from datetime import datetime
# Display all columns in the df
pd.set_option('display.max_columns', None)

Set paths etc.:

In [2]:
# define the base path where the file should be saved
base_path = '/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData'
# define the file name
file_name = "all_IDs.json"
# combine the base path and file name to create a valid file path
file_path = os.path.join(base_path, file_name)

### First query (get traffic point ID's):

In [3]:
# define the endpoint of the API
endpoint = "https://www.vegvesen.no/trafikkdata/api/?query=%0A%20%20%20%20query%7B%0A%20%20%20%20%20%20trafficRegistrationPoints(searchQuery%3A%20%7BroadCategoryIds%3A%20%5BE%5D%20%7D)%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20name%0A%20%20%20%20%20%20%20%20location%20%7B%0A%20%20%20%20%20%20%20%20%20%20coordinates%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20latLon%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20lat%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20lon%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%0A%20"

# define the GraphQL query for fetching ID's of registration points (only Europe roads)
query = """
{
  trafficRegistrationPoints(searchQuery: {roadCategoryIds: [E ,R, F], registrationFrequency: CONTINUOUS}) {
    id
  }
}
"""

# make a POST request to the API
response = requests.post(endpoint, json={"query": query})

# check the status code of the response
if response.status_code == 200:
    # if the request was successful, get the data from the response
    data = response.json()

    # open the file for writing
    with open(file_path, "w") as file:
        # write the data to the file in JSON format
        json.dump(data, file)

Store query number 1 and convert ID's to list for inserting in query number 2:

In [3]:
# define the file path of the JSON file
file_path = '/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/all_IDs.json'

# open the file for reading
with open(file_path, "r") as file:
    # load the data from the file into a Python object
    data = json.load(file)

# create an empty list for the registration point ID's
registration_point_ids = []

# iterate over the data returned by the GraphQL query
for item in data["data"]["trafficRegistrationPoints"]:
    # get the ID of the current registration point
    id = item["id"]

    # add the ID to the list of registration point ID's
    registration_point_ids.append(id)

### Second query (get traffic volume for every hour in a one-week period): <br>
*NB! This query must be run **twice** because it only possible to get 100 hours per query.* <br>
*The dataframes must therefore be merged together later on.*

In [5]:
# define the endpoint of the API
endpoint = """https://www.vegvesen.no/trafikkdata/api/?query=%7B%0A%20%20trafficData(trafficRegistrationPointId%3A%20%'DISTINCT_ID'%22)%20%7B%0A%20%20%20%20volume%20%7B%0A%20%20%20%20%20%20byHour(%0A%20%20%20%20%20%20%20%20from%3A%20%222019-10-24T12%3A00%3A00%2B02%3A00%22%0A%20%20%20%20%20%20%20%20to%3A%20%222019-10-24T14%3A00%3A00%2B02%3A00%22%0A%20%20%20%20%20%20)%20%7B%0A%20%20%20%20%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20from%0A%20%20%20%20%20%20%20%20%20%20%20%20to%0A%20%20%20%20%20%20%20%20%20%20%20%20total%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20volumeNumbers%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20volume%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20coverage%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20percentage%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A"""

data_1 = []
with tqdm(total=len(registration_point_ids)) as pbar:     # HUSK Å FJERNE [:300] FOR Å FÅ MED ALLE TRAFFIC POINTS
  for registration_point_id in registration_point_ids:    # HUSK Å FJERNE [:300] FOR Å FÅ MED ALLE TRAFFIC POINTS
    time.sleep(random.uniform(1, 3))

    # Change to: "2018-09-23T23:00:00+02:00"
    query = """ {
  trafficData(trafficRegistrationPointId: "%s") {
    volume {
      byHour(
        from: "2018-09-17T00:00:00+02:00"
        to: "2018-09-20T12:00:00+02:00"  
      ) {
        edges {
          node {
            from
            to
            total {
              volumeNumbers {
                volume
              }
              coverage {
                percentage
              }
            }
          }
        }
      }
    }
  }
}
    """ % registration_point_id

    response = requests.post(endpoint, json={"query": query})

    if response.status_code == 200:
      volume_data_1 = response.json()

      # Add the registration_point_id to the volume_data dictionary
      volume_data_1["registration_point_id"] = registration_point_id

      data_1.append(volume_data_1)

      pbar.update(1)

100%|██████████| 3125/3125 [1:49:01<00:00,  2.09s/it]

*Second run:*

In [6]:
# define the endpoint of the API
endpoint = """https://www.vegvesen.no/trafikkdata/api/?query=%7B%0A%20%20trafficData(trafficRegistrationPointId%3A%20%'DISTINCT_ID'%22)%20%7B%0A%20%20%20%20volume%20%7B%0A%20%20%20%20%20%20byHour(%0A%20%20%20%20%20%20%20%20from%3A%20%222019-10-24T12%3A00%3A00%2B02%3A00%22%0A%20%20%20%20%20%20%20%20to%3A%20%222019-10-24T14%3A00%3A00%2B02%3A00%22%0A%20%20%20%20%20%20)%20%7B%0A%20%20%20%20%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20from%0A%20%20%20%20%20%20%20%20%20%20%20%20to%0A%20%20%20%20%20%20%20%20%20%20%20%20total%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20volumeNumbers%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20volume%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20coverage%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20percentage%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A"""

data_2 = []
with tqdm(total=len(registration_point_ids)) as pbar:     # HUSK Å FJERNE [:300] FOR Å FÅ MED ALLE TRAFFIC POINTS
  for registration_point_id in registration_point_ids:    # HUSK Å FJERNE [:300] FOR Å FÅ MED ALLE TRAFFIC POINTS
    time.sleep(random.uniform(1, 3))

    # Change to: "2018-09-23T23:00:00+02:00"
    query = """ {
  trafficData(trafficRegistrationPointId: "%s") {
    volume {
      byHour(
        from: "2018-09-20T12:00:00+02:00"
        to: "2018-09-23T23:00:00+02:00"  
      ) {
        edges {
          node {
            from
            to
            total {
              volumeNumbers {
                volume
              }
              coverage {
                percentage
              }
            }
          }
        }
      }
    }
  }
}
    """ % registration_point_id

    response = requests.post(endpoint, json={"query": query})

    if response.status_code == 200:
      volume_data_2 = response.json()

      # Add the registration_point_id to the volume_data dictionary
      volume_data_2["registration_point_id"] = registration_point_id

      data_2.append(volume_data_2)

      pbar.update(1)

100%|██████████| 3125/3125 [1:49:41<00:00,  2.11s/it]

Store data collected from query number 2:

In [7]:
# define the path and filename for the JSON file
filename_1 = '/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/hourlyVolume_1.json'
# write the data to the JSON file
with open(filename_1, "w") as f:
    json.dump(data_1, f, indent=2) # usually indent = 4, but ok 

# define the path and filename for the JSON file
filename_2 = '/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/hourlyVolume_2.json'
# write the data to the JSON file
with open(filename_2, "w") as f:
    json.dump(data_2, f, indent=2)

Open data collected from query number 2:

In [8]:
with open('/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/hourlyVolume_1.json', 'r') as file:
    json_data_1 = json.load(file)

with open('/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/hourlyVolume_2.json', 'r') as file:
    json_data_2 = json.load(file)

### def flatten_json <br>
*Takes the data gathered from query 2 (stored as a json-file), flattening the data and converts it to a pandas dataframe.*

In [9]:
def flatten_json(json_data):
    flat_list = []
    for item in json_data:
        edges = item.get("data", {}).get("trafficData", {}).get("volume", {}).get("byHour", {}).get("edges", [])
        traffic_registration_point_id = item.get("registration_point_id")

        data_count = 0
        temp_list = []
        for edge in edges:
            node = edge.get("node", {})
            total = node.get("total", {})

            if total is None:
                continue

            volume_numbers = total.get("volumeNumbers") or {}
            coverage = total.get("coverage") or {}

            if volume_numbers.get("volume") is None:
                continue

            from_datetime = datetime.fromisoformat(node.get("from").replace("+02:00", ""))
            to_datetime = datetime.fromisoformat(node.get("to").replace("+02:00", ""))

            flat_dict = {
                "traffic_point_id": traffic_registration_point_id,
                "year": from_datetime.year,
                "month": from_datetime.month,
                "day": from_datetime.day,
                "from_hour": from_datetime.strftime("%H:%M"),
                "to_hour": to_datetime.strftime("%H:%M"),
                "volume": volume_numbers.get("volume"),
                "coverage_percentage": coverage.get("percentage")
            }
            data_count += 1
            temp_list.append(flat_dict)

        if data_count >= 83:    # 83 er riktig tall egentlig            # NB! Denne burde egentlig være "if data_count == 168:", men det ser ut til at det kun er mulig å hente ut 100 timer på ett punkt om gangen.
                                            # data_count == 168 fordi 24 timer i 7 dager (24*7) = 168
            flat_list.extend(temp_list)

    return flat_list

**Read warning in function above.**

Run function, check output:

In [10]:
flat_data_1 = flatten_json(json_data_1)
flat_data_2 = flatten_json(json_data_2)
# Convert flattened data to DataFrame
volume_df_1 = pd.DataFrame(flat_data_1)
volume_df_2 = pd.DataFrame(flat_data_2)
display(volume_df_1)#[:50]
display(volume_df_2)#[:50]

,traffic_point_id,year,month,day,from_hour,to_hour,volume,coverage_percentage
0,65823V1668921,2018,9,17,00:00,01:00,20,100.0
1,65823V1668921,2018,9,17,01:00,02:00,6,100.0
2,65823V1668921,2018,9,17,02:00,03:00,1,100.0
3,65823V1668921,2018,9,17,03:00,04:00,0,100.0
4,65823V1668921,2018,9,17,04:00,05:00,4,100.0
...,...,...,...,...,...,...,...,...
162115,10795V320297,2018,9,20,07:00,08:00,755,100.0
162116,10795V320297,2018,9,20,08:00,09:00,657,100.0
162117,10795V320297,2018,9,20,09:00,10:00,453,100.0
162118,10795V320297,2018,9,20,10:00,11:00,455,100.0
162119,10795V320297,2018,9,20,11:00,12:00,491,100.0

,traffic_point_id,year,month,day,from_hour,to_hour,volume,coverage_percentage
0,65823V1668921,2018,9,20,12:00,13:00,68,100.0
1,65823V1668921,2018,9,20,13:00,14:00,53,100.0
2,65823V1668921,2018,9,20,14:00,15:00,69,100.0
3,65823V1668921,2018,9,20,15:00,16:00,56,100.0
4,65823V1668921,2018,9,20,16:00,17:00,44,100.0
...,...,...,...,...,...,...,...,...
162260,10795V320297,2018,9,23,18:00,19:00,511,100.0
162261,10795V320297,2018,9,23,19:00,20:00,525,100.0
162262,10795V320297,2018,9,23,20:00,21:00,357,100.0
162263,10795V320297,2018,9,23,21:00,22:00,256,100.0
162264,10795V320297,2018,9,23,22:00,23:00,165,100.0

### Merge the two dataframes:

In [11]:
# Concatenate the two dataframes
merged_df = pd.concat([volume_df_1, volume_df_2], ignore_index=True)

# Group by traffic_point_id and filter based on the number of data points (168 hours)
completeVolume_df = merged_df.groupby('traffic_point_id').filter(lambda x: len(x) >= 167)

# Reset the index of the filtered dataframe
completeVolume_df.reset_index(drop=True, inplace=True)

Check the merged dataframe - looks good:

In [12]:
completeVolume_df#[:60]

,traffic_point_id,year,month,day,from_hour,to_hour,volume,coverage_percentage
0,65823V1668921,2018,9,17,00:00,01:00,20,100.0
1,65823V1668921,2018,9,17,01:00,02:00,6,100.0
2,65823V1668921,2018,9,17,02:00,03:00,1,100.0
3,65823V1668921,2018,9,17,03:00,04:00,0,100.0
4,65823V1668921,2018,9,17,04:00,05:00,4,100.0
...,...,...,...,...,...,...,...,...
317462,10795V320297,2018,9,23,18:00,19:00,511,100.0
317463,10795V320297,2018,9,23,19:00,20:00,525,100.0
317464,10795V320297,2018,9,23,20:00,21:00,357,100.0
317465,10795V320297,2018,9,23,21:00,22:00,256,100.0
317466,10795V320297,2018,9,23,22:00,23:00,165,100.0

Save dataframe as CSV-file in directory:

In [13]:
# Specify the file path and name
output_file_path = "/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/completeAllHourlyVolume.csv"

# Convert the dataframe to a CSV file and save it to the specified path
completeVolume_df.to_csv(output_file_path, index=False)

In [5]:
print(completeVolume_df['traffic_point_id'].nunique() / len(registration_point_ids))

0.60832

In [4]:
completeVolume_df = pd.read_csv('/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/completeAllHourlyVolume.csv')
completeVolume_df

,traffic_point_id,year,month,day,from_hour,to_hour,volume,coverage_percentage
0,65823V1668921,2018,9,17,00:00,01:00,20,100.0
1,65823V1668921,2018,9,17,01:00,02:00,6,100.0
2,65823V1668921,2018,9,17,02:00,03:00,1,100.0
3,65823V1668921,2018,9,17,03:00,04:00,0,100.0
4,65823V1668921,2018,9,17,04:00,05:00,4,100.0
...,...,...,...,...,...,...,...,...
317462,10795V320297,2018,9,23,18:00,19:00,511,100.0
317463,10795V320297,2018,9,23,19:00,20:00,525,100.0
317464,10795V320297,2018,9,23,20:00,21:00,357,100.0
317465,10795V320297,2018,9,23,21:00,22:00,256,100.0
317466,10795V320297,2018,9,23,22:00,23:00,165,100.0

### Pivot the dataframe <br> 
*This is to display hourly volume on the y-axis (not sure if necessary)*

In [8]:
# Create a new column 'timestamp' combining year, month, day, and from_hour
completeVolume_df['timestamp'] = completeVolume_df['year'].astype(str) + '-' + completeVolume_df['month'].astype(str).str.zfill(2) + '-' + completeVolume_df['day'].astype(str).str.zfill(2) + ' ' + completeVolume_df['from_hour']

# Pivot the DataFrame using 'traffic_point_id' as index and 'timestamp' as columns
pivoted_df = completeVolume_df.pivot_table(index='traffic_point_id', columns='timestamp', values='volume')

# Reset index and fill missing values with 0 (if any)
pivoted_df.reset_index(inplace=True)
pivoted_df.fillna(0, inplace=True)

# Display pivoted dataframe
pivoted_df

timestamp,traffic_point_id,2018-09-17 00:00,2018-09-17 01:00,2018-09-17 02:00,2018-09-17 03:00,2018-09-17 04:00,2018-09-17 05:00,2018-09-17 06:00,2018-09-17 07:00,2018-09-17 08:00,2018-09-17 09:00,2018-09-17 10:00,2018-09-17 11:00,2018-09-17 12:00,2018-09-17 13:00,2018-09-17 14:00,2018-09-17 15:00,2018-09-17 16:00,2018-09-17 17:00,2018-09-17 18:00,2018-09-17 19:00,2018-09-17 20:00,2018-09-17 21:00,2018-09-17 22:00,2018-09-17 23:00,2018-09-18 00:00,2018-09-18 01:00,2018-09-18 02:00,2018-09-18 03:00,2018-09-18 04:00,2018-09-18 05:00,2018-09-18 06:00,2018-09-18 07:00,2018-09-18 08:00,2018-09-18 09:00,2018-09-18 10:00,2018-09-18 11:00,2018-09-18 12:00,2018-09-18 13:00,2018-09-18 14:00,2018-09-18 15:00,2018-09-18 16:00,2018-09-18 17:00,2018-09-18 18:00,2018-09-18 19:00,2018-09-18 20:00,2018-09-18 21:00,2018-09-18 22:00,2018-09-18 23:00,2018-09-19 00:00,2018-09-19 01:00,2018-09-19 02:00,2018-09-19 03:00,2018-09-19 04:00,2018-09-19 05:00,2018-09-19 06:00,2018-09-19 07:00,2018-09-19 08:00,2018-09-19 09:00,2018-09-19 10:00,2018-09-19 11:00,2018-09-19 12:00,2018-09-19 13:00,2018-09-19 14:00,2018-09-19 15:00,2018-09-19 16:00,2018-09-19 17:00,2018-09-19 18:00,2018-09-19 19:00,2018-09-19 20:00,2018-09-19 21:00,2018-09-19 22:00,2018-09-19 23:00,2018-09-20 00:00,2018-09-20 01:00,2018-09-20 02:00,2018-09-20 03:00,2018-09-20 04:00,2018-09-20 05:00,2018-09-20 06:00,2018-09-20 07:00,2018-09-20 08:00,2018-09-20 09:00,2018-09-20 10:00,2018-09-20 11:00,2018-09-20 12:00,2018-09-20 13:00,2018-09-20 14:00,2018-09-20 15:00,2018-09-20 16:00,2018-09-20 17:00,2018-09-20 18:00,2018-09-20 19:00,2018-09-20 20:00,2018-09-20 21:00,2018-09-20 22:00,2018-09-20 23:00,2018-09-21 00:00,2018-09-21 01:00,2018-09-21 02:00,2018-09-21 03:00,2018-09-21 04:00,2018-09-21 05:00,2018-09-21 06:00,2018-09-21 07:00,2018-09-21 08:00,2018-09-21 09:00,2018-09-21 10:00,2018-09-21 11:00,2018-09-21 12:00,2018-09-21 13:00,2018-09-21 14:00,2018-09-21 15:00,2018-09-21 16:00,2018-09-21 17:00,2018-09-21 18:00,2018-09-21 19:00,2018-09-21 20:00,2018-09-21 21:00,2018-09-21 22:00,2018-09-21 23:00,2018-09-22 00:00,2018-09-22 01:00,2018-09-22 02:00,2018-09-22 03:00,2018-09-22 04:00,2018-09-22 05:00,2018-09-22 06:00,2018-09-22 07:00,2018-09-22 08:00,2018-09-22 09:00,2018-09-22 10:00,2018-09-22 11:00,2018-09-22 12:00,2018-09-22 13:00,2018-09-22 14:00,2018-09-22 15:00,2018-09-22 16:00,2018-09-22 17:00,2018-09-22 18:00,2018-09-22 19:00,2018-09-22 20:00,2018-09-22 21:00,2018-09-22 22:00,2018-09-22 23:00,2018-09-23 00:00,2018-09-23 01:00,2018-09-23 02:00,2018-09-23 03:00,2018-09-23 04:00,2018-09-23 05:00,2018-09-23 06:00,2018-09-23 07:00,2018-09-23 08:00,2018-09-23 09:00,2018-09-23 10:00,2018-09-23 11:00,2018-09-23 12:00,2018-09-23 13:00,2018-09-23 14:00,2018-09-23 15:00,2018-09-23 16:00,2018-09-23 17:00,2018-09-23 18:00,2018-09-23 19:00,2018-09-23 20:00,2018-09-23 21:00,2018-09-23 22:00
0,00000V1702725,5,4,0,2,2,21,132,433,436,469,624,801,862,868,952,1243,1268,1003,936,857,525,252,45,16,12,4,2,5,5,18,108,399,399,402,582,683,764,756,902,1062,1197,928,809,699,446,237,41,20,8,0,0,2,5,16,122,426,419,474,647,794,879,952,942,1223,1258,978,903,810,531,264,59,19,10,5,2,5,0,20,128,449,435,462,650,814,952,1030,965,1268,1274,995,992,874,626,268,56,10,12,4,10,1,4,22,121,375,415,469,849,984,1031,1082,1044,1069,790,566,469,396,310,211,37,21,9,3,3,2,3,4,20,37,88,335,809,1373,1625,1665,1846,1756,1513,1229,846,437,101,41,23,15,17,9,5,1,2,1,4,3,11,33,37,85,133,157,235,212,228,198,136,106,96,52,32
1,00000V1702751,243,82,51,56,131,624,1721,3305,3064,2398,2562,2859,2757,2929,3260,4415,3929,2779,2496,2062,1497,1024,526,390,162,90,56,64,114,550,1697,3307,3020,2235,2359,2481,2494,2634,3181,4257,3962,2847,2296,1855,1486,1026,532,383,160,74,45,59,122,500,1727,3220,3010,2257,2376,2651,2924,2968,3325,4378,4018,3033,2444,2108,1499,1027,568,342,156,81,67,70,125,503,1635,3175,2915,2272,2427,2730,3112,3161,3391,4443,4175,3139,2672,2255,1692,1137,605,514,317,106,80,63,129,537,1564,2820,2701,2268,2585,2902,3175,3360,3392,3209,2230,1765,1432,1170,1013,761,509,447,262,139,109,73,74,228,369,406,638,1370,2470,3561,3889,3965,4055,3749,3138,2457,1961,1224,660,524,391,360,341,228,151,98,118,86,118,209,313,540,935,1159,1505,1869,1990,2244,2357,1912,1700,1541,1198,755,479
2,00000V1993681,67,14,1,26,100,450,1696,1895,1589,787,597,624,689,762,854,1282,1204,684,561,522,403,352,212,114,30,18,12,35,68,396,1693,1919,1549,819,645,638,709,778,871,1302,1168,807,665,564,520,353,218,163,34,5,13,29,87,383,1585,1920,1645,772,676,675,723,789,811,1303,1158,781,672,577,437,365,252,154,63,20,20,36,112,389,1569,1877,1699,874,639,713,724,759,820,1335,1171,819,776,624,518,415,290,147,30,31,23,42,106,394,1387,1749,1531,775,738,668,742,819,1005,1356,1188,787,642,558,426,322,262,216,120,88,47,87,195,215,168,189,266,515,539,652,733,852,850,829,710,592,554,366,248,218,198,207,131,131,87,67,115,79,84,155,165,246,350,478,479,674,690,835,819,688,613,609,493,375,278
3,00000V443295,332,169,117,200,289,1605,4152,4445,3722,3287,3058,3163,3174,3319,4073,4862,4807,3868,3004,2375,2018,1555,980,486,243,179,125,214,284,1336,3608,4219,4183,3344,3020,3209,3154,3337,4140,4957,4842,3949,3046,2474,2221,1608,1005,515,283,183,148,154,304,1275,3851,4647,3956,3103,3008,3200,3154,3407,4030,5084,5022,4376,3200,2461,2072,1683,1058,582,285,205,144,186,280,1260,3701,4484,3885,3187,2983,3209,3318,3772,4603,5180,5077,4405,3319,3036,2283,1821,1178,670,360,224,168,210,279,1096,3207,4037,3494,2961,2956,3529,3977,4437,4691,5166,4987,4355,3250,2293,1585,1250,905,650,404,259,182,210,206,293,665,1117,1928,2651,3469,3924,3884,3700,3736,3680,3439,3558,2869,2234,1554,1265,1060,789,640,360,298,300,163,194,254,576,846,1269,1961,2507,3093,3387,3742,4124,4241,4462,4256,3831,3440,2196,1261
4,00000V443437,27,38,13,19,48,136,331,334,328,217,200,214,225,243,288,409,366,302,224,163,137,130,88,46,42,29,24,39,49,125,260,331,297,219,183,169,200,218,278,426,426,299,207,170,145,92,88,60,42,9,17,28,51,120,281,347,276,228,197,214,209,208,310,419,440,333,210,176,125,85,91,40,38,27,12,8,30,137,272,332,280,202,213,231,227,285,345,502,446,408,327,181,150,122,91,75,43,24,9,8,41,115,216,278,293,219,245,254,309,398,451,564,633,480,313,276,205,154,107,73,44,27,22,34,74,78,90,93,184,226,281,271,289,250,254,288,283,260,221,180,129,77,72,60,64,58,58,33,54,52,72,100,129,160,206,258,303,337,411,550,598,526,431,370,289,202,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896,99846V2429627,40,27,18,5,17,68,143,224,220,270,265,266,266,272,266,286,304,293,214,209,160,125,80,47,22,26,11,12,12,50,97,156,207,244,222,275,212,218,249,325,330,286,238,189,150,104,59,55,27,8,14,21,27,36,111,190,223,259,205,209,219,225,289,308,320,347,231,231,160,128,94,41,15,20,18,20,21,43,98,207,229,266,249,231,259,276,344,372,387,456,274,248,179,141,87,52,30,18,19,31,25,43,96,153,181,262,249,303,354,391,448,525,651,588,475,304,175,156,90,54,30,26,19,13,18,18,18,40,71,165,306,297,286,280,258,308,262,247,249,197,149,127,88,47,30,25,20,13,11,34,12,28,64,90,166,241,338,364,436,454,529,488,510,387,294,194,165
1897,99915V578630,9,6,3,11,16,55,165,445,218,244,193,218,234,262,256,456,321,218,168,152,131,95,72,18,5,3,7,9,17,47,150,376,214,207,198,213,199,245,281,472,381,271,188,131,133,162,76,27,6,5,4,9,12,39,166,371,244,225,184,230,211,247,281,416,340,266,171,149,146,117,83,24,13,8,8,11,14,45,146,363,250,222,200,216,236,260,298,436,393,238,209,145,166,112,78,24,8,3,5,9,14,27,147,310,232,176,243,213,234,286,361,421,423,267,190,133,132,70,66,30,30,17,10,14,6,17,16,32,63,103,173,233,241,253,230,238,173,153,149,112,65,53,48,37,35,21,20,15,14,11,16,26,19,33,81,91,166,156,183,201,230,256,221,222,171,84,67
1898,99950V704686,4,2,4,0,16,17,124,185,130,95,108,110,131,132,151,219,206,120,116,104,69,44,43,36,5,4,1,1,11,15,105,175,107,91,112,130,115,131,193,219,212,176,131,109,95,52,39,40,5,1,1,2,9,20,111,181,122,103,108,131,116,114,179,232,234,148,126,94,49,42,47,37,13,1,3,2,13,20,99,192,122,85,115,133,132,160,172,275,212,149,138,123,105,68,49,31,9,1,1,4,7,22,90,176,136,101,124,130,169,167,188,237,217,139,107,96,69,42,46,22,12,12,3,1,0,2,18,46,43,82,120,138,153,153,142,170,123,125,115,72,63,42,38,38,23,35,20,5,4,2,9,24,20,43,53,65,125,117,147,141,129,138,118,84,67,36,29
1899,99999V2568304,27,11,4,2,11,45,194,363,301,272,262,313,279,279,283,445,376,277,223,189,135,133,88,52,15,8,6,2,11,40,160,330,284,278,283,269,283,267,312,412,421,270,223,188,158,158,77,40,20,7,3,5,12,35,156,338,286,265,291,262,288,292,365,483,464,283,267,192,165,133,79,51,17,6,6,3,12,41,160,298,311,248,222,259,255,298,348,429,465,299,261,215,161,142,73,43,22,18,7,8,11,39,141,287,257,268,255,285,327,388,455,578,507,443,347,226,139,171,94,44,39,21,19,12,14,18,23,56,100,129,195,294,295,237,266,253,235,254,192,133,115,78,78,45,35,29,22,14,9,4,8,20,45,80,105,163,194,299,288,388,371,337,347,283,213,122,74
1900,99999V444329,4,6,4,3,10,14,52,162,271,165,150,176,206,188,261,371,370,242,143,109,65,47,17,7,1,12,2,0,7,10,52,148,247,179,155,194,185,168,237,346,449,238,159,110,90,54,20,7,10,11,4,3,12,7,51,165,290,170,161,218,209,206,266,369,362,281,165,89,85,52,32,10,7,19,5,1,6,11,52,170,269,177,166,239,230,207,252,378,400,253,156,123,95,54,20,12,12,13,5,1,5,13,47,159,270,163,206,246,278,249,307,421,333,211,127,78,46,32,9,18,13,16,9,3,7,4,7,9,22,52,80,125,127,143,153,136,128,96,77,52,28,18,18,13,14,10,7,12,9,6,1,7,16,16,23,37,53,57,65,68,72,67,58,46,34,22,12

Store new pivoted dataframe:

In [9]:
# Specify the file path and name
output_file_path = "/Users/filipmoennilsen/Documents/Skolearbeid/BI_Master_BAN/4. Semester/Master_Thesis/Master_Python/roadNetwork_Venv/PythonFiles/trafficAPI/2_TrafficOutputData/completeAllHourlyVolume_pivoted.csv"

# Convert the dataframe to a CSV file and save it to the specified path
pivoted_df.to_csv(output_file_path, index=False)